$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


// $font-color: #FFB828;
$unit: 20px;
$width: (4 * $unit);
$height: (4 * $unit);
$fontmain: 'UnifrakturCook', cursive;
$fontsec: 'IM Fell Double Pica', serif;
$titlecolor: #e8860c;
$yellowmain: #ffb828;

html,
body {
  min-height: 100%;
}

h1 {
  color: $titlecolor;
  font-family: $fontmain;
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
  // position: static;
}

.ingresa-title,
.register-title,
.cambiopass-title {
  // font-family: $fontsec;
  font-size: 25px;
}

#loginbutton,
#signupbutton {
  margin: 0 auto;
}

body {
  background-image: url('prince1.jpg');
  background-position: center fixed;
  background-repeat: no-repeat;
  // url("http://s2.dmcdn.net/J3OKz/1280x720-38D.jpg")
  background-size: 130%;
  // color: $font-color;
  font-family: $fontsec;
  position: relative;
  text-align: center;
}


.row > .col-xs-4 {
  border: 1px solid $yellowmain;
  box-sizing: border-box;
  font-size: 55px;
  height: $height;
  // padding: 60px;
  // margin: 0 auto;
  line-height: $height;
  text-align: center;
  width: $width;
}

.board {
  color: $yellowmain;
  display: none;
  margin: 0 41%;
  text-align: center;
 }

.hiscreen {
  text-align: center;
  // display: block;
 }

.byescreen {
  display: none;
  text-align: center;
}


#message {
  color: #c3520c;
  font-size: 20px;
  text-align: center;
}

.btnstyle {
  background-color: #b2cdf3;
  border-bottom: 2px solid #4f6267;
  border-left: 2px solid #a3ceda;
  border-right: 2px solid #4f6267;
  border-top: 2px solid #a3ceda;
  color: #2d525d;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
}

// .hibtnstyle {
//   background-color: #6f8eb3;
//   border-bottom: 2px solid #4f6267;
//   border-left: 2px solid #a3ceda;
//   border-right: 2px solid #4f6267;
//   border-top: 2px solid #a3ceda;
//   color: #2d525d;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 5px 15px;
// }
